<div class="container mt-4">
  <h2>Data Mahasiswa</h2>

  <!-- Tombol untuk membuka modal -->
  <button
    type="button"
    class="btn btn-primary mb-3"
    data-bs-toggle="modal"
    data-bs-target="#tambahMahasiswaModal"
  >
    Tambah Mahasiswa
  </button>
  <!-- Tombol dengan Bootstrap yang membuka modal menggunakan atribut `data-bs-toggle` dan `data-bs-target`. -->

  <!-- Modal Tambah Prodi -->
  <div
    class="modal fade"
    id="tambahMahasiswaModal"
    tabindex="-1"
    aria-labelledby="tambahMahasiswaModalLabel"
    aria-hidden="true"
  >
    <!-- Modal Bootstrap dengan ID unik untuk menampilkan formulir tambah prodi. -->
    <div class="modal-dialog">
      <!-- Dialog modal dengan layout default Bootstrap. -->
      <div class="modal-content">
        <!-- Konten modal -->
        <div class="modal-header">
          <!-- Header modal -->
          <h5 class="modal-title" id="tambahMahasiswaModalLabel">
            Tambah Mahasiswa
          </h5>
          <!-- Judul modal -->
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
          <!-- Tombol untuk menutup modal -->
        </div>
        <div class="modal-body">
          <!-- Bagian isi modal -->
          <form [formGroup]="mahasiswaForm" (ngSubmit)="addMahasiswa()">
            <!-- Form Angular yang terhubung dengan `mahasiswaForm`. -->
            <div class="mb-3">
              <label for="npm" class="form-label">NPM</label>
              <input
                id="npm"
                type="text"
                class="form-control"
                formControlName="npm"
              />
            </div>
            <div class="mb-3">
              <label for="nama" class="form-label">Nama</label>
              <input
                id="nama"
                type="text"
                class="form-control"
                formControlName="nama"
              />
            </div>
            <div class="mb-3">
              <label for="jenis_kelamin" class="form-label">jenis_kelamin</label>
              <select name="" id="jenis_kelamin" class="form-select" formControlName="jenis_kelamin">
                <option value="L">Laki - Laki</option>
                <option value="P">Perempuan</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="asal_sekolah" class="form-label">asal_sekolah</label>
              <input
                id="asal_sekolah"
                type="text"
                class="form-control"
                formControlName="asal_sekolah"
              />
            </div>
            <div class="mb-3">
              <label for="foto" class="form-label">foto</label>
              <input
                id="foto"
                type="file"
                class="form-control"
                formControlName="foto"
              />
            </div>
            <div class="mb-3">
              <label for="prodi" class="form-label">Prodi</label>
              <select
                id="prodi"
                class="form-select"
                formControlName="prodi_id"
              >
                <option
                  *ngFor="let prodi of prodi"
                  [value]="prodi._id"
                >
                  {{ prodi.nama }}
                </option>
                <!-- Menggunakan *ngFor untuk membuat opsi dropdown berdasarkan data fakultas. -->
              </select>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="isSubmitting"
            >
              {{ isSubmitting ? "Menyimpan..." : "Tambah Prodi" }}
            </button>
            <!-- Tombol submit dengan state dinamis berdasarkan isSubmitting. -->
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Loader -->
  <div class="d-flex justify-content-center mt-4" *ngIf="isLoading">
    <!-- Loader ditampilkan jika properti `isLoading` bernilai true -->
    <div class="spinner-border text-primary" role="status">
      <!-- Komponen spinner Bootstrap untuk menampilkan animasi loading -->
      <span class="visually-hidden">Loading...</span>
      <!-- Teks alternatif untuk pembaca layar, membantu aksesibilitas -->
    </div>
  </div>
  
  <div *ngIf="!isLoading" class="row">
    <div
      *ngFor="let item of mahasiswa | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; index as i"
      class="col-lg-4 mb-4 d-flex justify-content-center"
    >
      <div class="card card-profile text-center rounded-4 w-100">
        <div class="card-body">
          <!-- <img
              src="{{ item.foto }}"
              alt="Avatar"
              class="avatar img-fluid"
              style="width: 60px; height: 60px; margin: auto"
            /> -->
          <h3 class="fs-5 fw-bold mt-2 mb-0">{{ item.nama }}</h3>
          <span class="text-secondary d-block">{{ item.npm }}</span>
          <span class="text-secondary d-block mb-3">{{
            item.jenis_kelamin == "L" ? "Laki - Laki" : "Perempuan"
          }}</span>
        </div>
        <div class="border-top d-flex">
          <div
            class="d-flex flex-column col-6 justify-content-center align-items-center p-3 flex-fill position-relative"
          >
            <div class="text-secondary fw-medium small">Jurusan</div>
            <p class="mb-1 text-bold fw-medium small">
              {{ item.prodi_id.nama }}
            </p>
            <div
              class="border-end position-absolute end-0 top-50 translate-middle-y"
              style="height: 50%"
            ></div>
          </div>
          <div
            class="d-flex flex-column col-6 justify-content-center align-items-center p-3 flex-fill"
          >
            <div class="text-secondary fw-medium small">Asal Sekolah</div>
            <p class="mb-1 text-bold fw-medium small">
              {{ item.asal_sekolah }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <pagination-controls (pageChange)="currentPage = $event">
    </pagination-controls>
  </div>
</div>
